body {
    box-sizing: border-box;
    font-size: 18px;
    background-color: #990909;
    max-width: 1040px;
    margin: 0 auto;    
}

header a {
    text-decoration: none;    
}

.header-logo {
    text-align: center;
}

.gallery {
    background-color: black;
    display: flex;
    justify-content: space-around;    
}

.gallery img {
    width: 100%;
}

.gallery figure {
    text-align: center;
    margin: 20px 40px 3px;
}

.gallery a {
    color: white;
}

.gallery a:hover {
    text-decoration: underline;
}

.gallery a:visited {
    color: white;
}

/* MAIN PART */

article {
 display: flex;
 padding-top: 5px;
 justify-content: space-between;
}

.left-side {
    background-color: #7d0909;
    width: 250px;
    /* float: left; */
    width: 25%;
    
}

.left-side ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.left-side li {
    padding-bottom: 18px;
    
}

.left-side a {
    color: #e95b11;
}

.center {
   width: 55%;
   color: white;
    padding: 0 5px;
}

.right-side {
   /* float: right; */
   width: 20%;
   background-color: #e3dddd;
}

.right-side h1 {
    background-color: #bdbdbd;
    padding: 0;
    margin: 0;
    text-align: center;
}

.right-side hr {
    width: 55%;
}
/* FOOTER  */
footer {
    background-color: #e95b11;
    color: white;
    font-size: 20px;
    text-align: center;
}