* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.container {
    position: relative;
    margin: 20px;
}

.bubble {
    position: relative;

    width: 200px;
    height: 100px;
    background-color: #fff;

    text-align: center;
    line-height: 100px;

    border: 8px solid lightgreen;
    border-radius: 50px;
    
    box-shadow: 0 0 3px lightgreen;

}

.bubble::after {
    position: absolute;
    content: "";

    right: 50px;
    bottom: -52px;

    border: 22px solid;
    border-color: lightgreen lightgreen transparent transparent;

    
}

.bubble::before {
    position: absolute;
    content: "";

    left: 106px;
    bottom: -32px;

    border: 18px solid;
    border-color: #fff #fff transparent transparent;

    z-index: 10;
}