body {
    /* line-height: 18px; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 20px 40px 30px 40px;   /* bottom!!!*/
    max-width: 1020px ;
    
    
    margin: 0 auto;
}

/* HEADER  */

/* HEADER TOP  */

.header-top {
    font-size: 11px;
    color: #666666;
    overflow: hidden;
    width: 1020px;
    display: flex;
    justify-content: space-between;
}

.header-top ul {      
    list-style: none;  
}

.header-top li {
    display: inline;  
    border-left: 1px solid #666666;
    padding: 0 15px;
    color: #666666;
    text-decoration: none;
    font-size: 11px;
}

.header-top li:first-child {
    border: none;
}

.header-top a:hover {
    text-decoration: underline;
}

.header-top a:visited {
    color: #666666;
}

.header-top a {
    text-decoration: none;
    color: #666666;
}

.date {
    font-size: 11px;
    margin: 11px 0;
    margin-right: 40px;
}

.date span {
    background: red;
    color: white;
}

/* HEADER MIDDLE  */

.header-middle {
    background-color: #4f83bc;
    margin: 0 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 130px;
}

.header-middle-top {
    display: flex;
    justify-content: space-between;
}

/* HEADER MIDDLE LEFT  */

.header-middle-left  {
    display: flex;
}

.left-text {
   margin-left: 15px;
}

.left-text p {    
    font-size: 48px;    
    font-weight: bold;
    color: #fff; 
    margin-top: 25px;
    margin-bottom: 5px;
}

.header-title + p {
    font-size: 12px;
    color: #99ccff;
    margin: 0;   
}

/* HEADER MIDDLE RIGHT  */

    /* PAGE LANGUAGES  */
.page-lang ul {      
    list-style: none;  
}

.page-lang li {
    display: inline;  
    border-left: 1px solid #fff;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

.page-lang li:first-child {
    border: none;
}

.page-lang a:hover {
    text-decoration: underline;
}

.page-lang a:visited {
    color: #fff;
}

.page-lang a {
    text-decoration: none;
    color: #fff;
}

/* PAGE SEARCH  */

.search {
    width: 263px;
    height: 26px;
    position: relative;
}

.input-search {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


.поле_поиска {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 696px;
    top: 98px;
    width: 263px;
    height: 26px;
    z-index: 140;
  }
  

/* NAVIGATION */

.header-nav {
    height: 50px;
    background-color: #e6e6e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


