html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #3c3c3c;
}

a {
  display: inline-block;  
  text-decoration: none;
  color: inherit;
}

li { 
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ---------------- STYLE ------------- */

.header {
  background: url(../images/background-header.jpg) no-repeat top right;
  background-size: cover;
  height: 100vh; 
}

.header__inner {
  color: #fff;
  height: 100vh;
  width: 630px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  margin-bottom: 90px;
}

.header__title {
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.header__text {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: .6px;
  text-transform: uppercase;
  /* margin-bottom: 230px; */

}

.header__scroll {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

/* ------------------------- ABOUT US -------------------  */

.aboutUs {
  padding: 160px 0;
}

.section__border {
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #3c3c3c;
}

.section__title {
  font-size: 34px;
  font-weight: 700;
  color: #3c3c3c;
  text-align: center;
  letter-spacing: 4px;
  padding: 0 100px;
  text-transform: uppercase;
}

.section__text {
  font-size: 16px;
  font-weight: 300;
  max-width: 100%;
  width: 560px;
  margin: 0 auto;
  line-height: 24px;
}

.text__element {
  text-align: center;
  max-width: 100%;
}


/* ------------------------- SERVICES -------------------  */

.services {
  background: url(../images/background-services.jpg) no-repeat top right;
  background-size: cover;

  padding: 130px 0 110px;
}

.section__border--white {
  border-color: #fff;
}

.section--white {
  color: #fff;
}

.section__title--white {
  color: #fff;
}

/* ------------------------- OFFER -------------------  */

.offer {
  padding: 110px 0;
  
}

.offer__inner  {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 80px;
}

.text__img {
  margin:100px 0 40px;
}

.text__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
  text-align: center;
}

.text__element--font-size-small {
  font-size: 14px;
}

/* ------------------------- GALLERY -------------------  */

.gallery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.gallery__item {
  height: 230px;
  min-width: 550px;
  margin: 5px 0;

  background-position: center;
  background-size: cover;

}

.gallery__item--wide {
  min-width: 800px;
  margin: 5px 10px;
}

.gallery__link {
  width: 100%;
  height: 100%; 
  padding: 40px;  

  display: flex;
  align-items: flex-end;
}

.link__text {
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

/* ------------------------- CONTACT US -------------------  */

.contact {
  padding: 130px 0 30px;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  width: 100%;
  max-width: 380px;
  padding: 15px 10px;
  background-color: #3c3c3c;
  border: 2px solid transparent;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 45px;
}

.btn:active {
  border-color: #fff;
}

/* ------------------------- FOOTER -------------------  */

.footer__inner {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--size-small {
  width: 40px;
  height: 40px;
  margin-right: 35px;
}

.copyright {
  font-size: 14px;
}

/* ------------------------- MEDIA QUERIES -------------------  */


@media (max-width: 768px) {

  .section__text {
    max-width: 480px;
  }

  .gallery__item {
    width: 49%;
  }



}

@media (max-width: 568px) {

  .header__logo {
    margin-bottom: 30px;
  }

  .header__title {
    font-size: 18px;
  }

  .header__text {
    font-size: 10px;
  }

  .header__scroll {
    /* bottom: 10px; */
    display: none;
  }

  .section__border {
    border: none;    
  }

  .section__title {
    padding: 0;
  }

  .section__text {
    max-width: 200px;
  }

  .aboutUs {
    padding: 60px 0;
  }

  .services {
    background-position-x: 75%;
    padding: 60px 0;
  }

  .gallery__item {
    width: 100%;
  }  

  .copyright {
    font-size: 12px;
  }

}

@media (min-width: 1921px) {

  .gallery__item {
    min-width: 33%;
    margin-right: 0;
    margin-left: 0;
  }

  /* .gallery__item--wide {
    min-width: 39%;
  } */


}

@media (max-width: 1919px) {

  .gallery__item {
    min-width: 33%;
    margin-right: 0;
    margin-left: 0;
  }

  /* .gallery__item--wide {
    min-width: 39%;
  } */
  

}
