@charset "UTF-8";
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Book.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.otf");
  font-weight: 700;
  font-style: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 50px;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 0;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0;
}

[dir="rtl"] .slick-next {
  left: 0;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  background-color: #fff;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  background-color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

.body-wrapper {
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  color: #4b5562;
}

.logo__icon {
  height: 50px;
  width: 250px;
  fill: #fff;
}

.liner {
  width: 60px;
  height: 1px;
  background-color: #fff;
}

.title-block {
  font-family: "Gotham", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  border: 1px solid #4b5562;
  border-radius: 1px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #2c4058;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#vertical__navbar {
  position: fixed;
  top: 50%;
  bottom: 50%;
  z-index: 2;
}

#vertical__navbar span {
  display: block;
}

#vertical__navbar a {
  display: flex;
}

.navbar__dot {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar__dot:hover {
  transform: scale(1.4);
  transition: .4s;
}

.navbar__dot:hover + .navbar__label {
  opacity: 1;
}

.navbar__label {
  opacity: 0;
  transition: .4s;
}

.is-selected .navbar__dot {
  background-color: #000;
}

.header {
  height: 100vh;
  background: url("../images/header-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .nav__list {
  display: flex;
  font: 0.9rem "Gotham", sans-serif;
}

.header .nav__item + .nav__item {
  padding-left: 15px;
}

.header .nav__item:hover .nav__item-elem {
  background-color: #fff;
}

.header .nav__link {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
}

.header .nav__link:hover {
  color: #fff;
  cursor: pointer;
}

.header .nav__item-elem {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.header .nav__item-text {
  margin-left: 15px;
}

.header__slider-wrapper {
  flex-grow: 1;
}

.header__slider {
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
}

.header__slider .slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__slider .slide__title {
  color: #fff;
  font-size: 80px;
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.header__slider .slide__subtitle {
  font-size: 18px;
  font-family: "Gotham", sans-serif;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

.header .slick-dots {
  bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header .container {
  width: 100%;
}

.header .arrow-down-wrapper {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.header .arrow-down-wrapper:hover {
  border: 1px solid white;
}

.header .arrow-down-wrapper:hover .arrow-down {
  fill: white;
}

.header .arrow-down-wrapper .arrow-down {
  width: 10px;
  height: 10px;
  fill: rgba(255, 255, 255, 0.5);
  margin-top: 2px;
}

.social__list {
  display: flex;
}

.social__link {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social__link:hover {
  border-color: #fff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.5);
}

.social__link:hover .social__icon {
  fill: #fff;
}

.social__item + .social__item {
  margin-left: 30px;
}

.projects {
  padding-top: 100px;
}

.projects .back-block {
  position: absolute;
  width: 600px;
  height: 430px;
  background-color: #55b7ff;
  z-index: -1;
}

.projects .liner {
  background-color: #2c4058;
}

.projects .title {
  margin-top: 40px;
  margin-bottom: 100px;
}

.projects__section {
  margin-bottom: 100px;
}

.projects__section-inner {
  display: flex;
  padding-top: 70px;
}

.projects__photo {
  width: 50%;
}

.projects__info {
  margin-top: 40px;
  margin-left: 40px;
  color: #2c4058;
  font-family: "Gotham", sans-serif;
  width: 50%;
}

.projects__info .info__subtitle {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.projects__info .info__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.projects__info .info__text {
  line-height: 160%;
  margin-bottom: 40px;
}

.projects__info .info__address {
  margin-top: 60px;
}

.projects__info .info__address .location-icon {
  fill: #2c4058;
  height: 18px;
  width: 20px;
}

.projects__section--reverse .back-block {
  right: 0;
  background-color: #7e5aff;
}

.projects__section--reverse .projects__section-inner {
  display: flex;
  flex-direction: row-reverse;
}

.projects__section--reverse .projects__info {
  margin-left: 0px;
  margin-right: 40px;
}

.news {
  background: url("../images/news-background.jpg") no-repeat center;
  background-size: cover;
}

.news__inner {
  padding: 100px 0;
}

.news__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.news__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-family: "Gotham", sans-serif;
  margin-bottom: 60px;
  margin-top: 20px;
}

.news__slider .slide {
  height: 520px;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.news__slider .slide__content-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.news__slider .slide__title {
  font-family: "Gotham", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #2c4058;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.news__slider .slide__text-wrapper {
  flex-grow: 1;
}

.news__slider .slide__text {
  line-height: 1.8rem;
  margin-bottom: 15px;
}

.news__slider .slide__info {
  font-family: "Gotham", sans-serif;
  display: flex;
  align-items: center;
}

.news__slider .slide__info .info__author-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.news__slider .slide__info .info__author-name {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.news__slider .slide__info .info__date {
  font-size: 0.8rem;
  color: #55b7ff;
}

.arrow-prev-wrapper,
.arrow-next-wrapper {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6;
}

.arrow-prev-wrapper:hover,
.arrow-next-wrapper:hover {
  opacity: 1;
  cursor: pointer;
}

.arrow-prev,
.arrow-next {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.arrow-prev {
  padding-right: 2px;
}

.arrow-next {
  padding-left: 2px;
}

.arrow-prev-wrapper {
  left: 0;
}

.arrow-next-wrapper {
  right: 0;
}

.gallery {
  padding: 120px 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .liner {
  background-color: #2c4058;
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__title {
  margin-top: 40px;
  margin-bottom: 90px;
}

.gallery__content-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.gallery__big-photo-wrapper {
  width: 50%;
}

.gallery__small-photos-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.gallery .small-photo-wrapper {
  width: 50%;
  padding-left: 10px;
}

.gallery .small-photo-wrapper:first-of-type {
  padding-bottom: 10px;
}

.gallery .small-photo-wrapper:nth-of-type(2) {
  padding-bottom: 10px;
}

.map {
  height: 700px;
  background-color: gainsboro;
}

.footer {
  background: url(../images/footer-background.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.footer .container {
  max-width: 800px;
}

.footer__inner {
  min-height: 500px;
  padding-top: 200px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  color: white;
  font-size: .8rem;
  font-family: "Gotham", sans-serif;
  margin-top: 40px;
}

.footer__form-wrapper {
  width: 800px;
  height: 450px;
  background-color: #fff;
  padding: 50px;
  position: absolute;
  bottom: calc(100% - 150px);
  background: #fff url(../images/form-background.png) no-repeat bottom;
  background-size: contain;
}

.footer__form-wrapper .liner {
  background-color: #4b5562;
}

.footer__form-wrapper .form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer__form-wrapper .form__info {
  width: 50%;
}

.footer__form-wrapper .form__icon {
  fill: #7e5aff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__form-wrapper .form__title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer__form-wrapper .form__button-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer__form-wrapper .info__item {
  display: flex;
  font-family: "Gotham", sans-serif;
  color: inherit;
  margin-bottom: 40px;
}

.footer__form-wrapper .info__item:last-of-type {
  margin: 0;
}

.footer__form-wrapper .input-field {
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(44, 64, 88, 0.5);
  margin-bottom: 20px;
}

.footer__form-wrapper .input-field:focus {
  border-bottom: 1px solid #2c4058;
}

.footer__form-inner {
  display: flex;
}
