.header {
    height: 100vh;
    background: url('../images/header-bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav {
        &__list {
            display: flex;
            font: .9rem $title-font;    
        }
        &__item + .nav__item {
                padding-left: 15px;
        }
        &__item:hover .nav__item-elem {
            background-color: #fff;
        }
        &__link {
            color: rgba(#fff, .5);
            display: flex;
            align-items: center;
        }
        &__link:hover {
            color: #fff;
            cursor: pointer;
        }
        &__item-elem {
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            border-radius: 50%;        
        }

        &__item-text {
            margin-left: 15px;
        }
    }
    &__slider-wrapper {
        flex-grow: 1;
    }
    &__slider {
        height: calc(100% - 30px);
        display: flex;
        align-items: center;

        & .slide__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & .slide {

            &__title {
                color: #fff;
                font-size: 80px;
                font-family: $title-font;
                text-transform: uppercase;
                font-weight: 700;
            }
            &__subtitle {
                font-size: 18px;
                font-family: $title-font;
                color: #fff;
                letter-spacing: 3px;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }
    .slick-dots {
        bottom: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .container {
        width: 100%;
    }

    .arrow-down-wrapper {
        width: 40px;
        height: 40px;
        border: 1px solid rgba(#fff, .5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        
        &:hover {
            border: 1px solid rgba(#fff, 1);

        }
        &:hover .arrow-down {
            fill: rgba(#fff, 1);

        }

        .arrow-down {
            width: 10px;
            height: 10px;
            fill: rgba(#fff, .5);
            margin-top: 2px;
        }
    }
    
}

.social {
    &__list {
        display: flex;
    }
    &__link {
        width: 40px;
        height: 40px;
        border: 1px solid rgba(#fff, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    &__link:hover {
        border-color: #fff;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: rgba(#fff, .5);
    }
    &__link:hover &__icon{
        fill: #fff;
    }
    &__item {

        & + & {
            margin-left:30px;
        }
    }
}





