.main {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Proxima Nova",  sans-serif;
    
}

.main>div {
    margin: 56px 45px;
    text-align: center;
    
}

.left a {
    display: inline-block;
    width: 67px;
    height: 67px;
    background: url(../images/Tablet0.png) no-repeat center;
}

.left a:hover {
    display: inline-block;
    width: 67px;
    height: 67px;
    background: url(../images/Tablet.png) no-repeat center;
}

.middle a  {
    display: inline-block;
    width: 67px;
    height: 67px;
    background: url(../images/Settings.png);
}



.main div p {
    width: 220px;
}

.main div p + p {
    color: #9d9d9d;
}

.title {
    font-weight: bold;
}


